.quote-container{
    width:auto;
    max-width:900px;
    padding:20px 30px;
    border-radius:10px;
    background-color:rgba(255,255,255,0.8);
    box-shadow:0 10px 10px 10px rgba(0,0,0,0.4);
}

@media screen and (max-width:1000px) {
    .quote-container{
        margin:auto 10px;
    }

    .quote-text{
        font-size:2.5rem;
    }
}